<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{config.cartTitle}} - {{title}}</title>
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{#if admin}}
        <link rel="icon" type="image/png" href="/images/pencil-box-color.svg" />
        <!--[if IE]><link rel="SHORTCUT ICON" href="/images/favicon.png"/><![endif]-->
        {{else}}
        <link rel="icon" type="image/svg" href="/images/pencil-box-color.svg" />
        <!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.ico"/><![endif]-->
        {{/if}}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {{#if metaDescription}}
        <meta name="description" content="{{metaDescription}}">
        {{else}}
		<meta name="description" content="{{config.cartDescription}}">
        {{/if}}
		<meta name="keywords" content="{{config.cartTitle}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css">
         <link rel="stylesheet" href="/stylesheets/bootstrap-xl.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">         
        <link rel="stylesheet" href="/stylesheets/pushy.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/stylesheets/codemirror-style.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style{{config.env}}.css">
        {{#if admin}}
        <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
        {{/if}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
       
        
        <!-- SEO data -->
        <link rel="canonical" href="{{config.baseUrl}}" />
        <meta name="referrer" content="origin" />
        <meta property="og:site_name" content="{{config.cartTitle}}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{title}}" />
        <meta property="og:url" content="{{config.baseUrl}}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:url" content="{{config.baseUrl}}" />
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "publisher": "{{config.cartTitle}}",
                "url": "{{config.baseUrl}}"
            }
        </script>
        {{#if config.googleAnalytics}}{{{config.googleAnalytics}}}{{/if}}
        {{#if config.customCss}}<style>{{{config.customCss}}}</style>{{/if}}
        {{#if admin}}
        <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
        {{else}}
        {{#if config.theme}}<link rel="stylesheet" href="/{{config.theme}}/style.css">{{/if}}
        {{/if}}
        <!-- SEO data -->
	</head>
    {{#if admin}}
	<body class="admin">
    {{else}}
    <body>
    {{/if}}
		<!-- Static navbar -->
	    <nav class="navbar navbar-default navbar-static-top " >
			<div class="container-fluid mainNavBar " style="border-bottom: 5px solid #e7e9ec;">
				<div class="navbar-header">
					{{!-- <button type="button" class="navbar-toggle collapsed offcanvas-trigger" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> --}}
                    {{#if admin}}
                        <a class="navbar-brand navbar-brand-image" href="/admin"><img class="img-responsive" src="/images/pencil-box-color.svg"></a>
                    {{else}}
                        {{#isNull config.cartLogo}}
                            {{#isNull config.cartTitle}}
                                <a class="navbar-brand" href="/"><img class="img-responsive" src="/images/pencil-box-color.svg"></a>
                            {{else}}
                                <a class="navbar-brand" href="/"><img class="img-responsive" src="/images/pencil-box-color.svg"></a>
                            {{/isNull}}
                        {{else}}
                            <a class="navbar-brand navbar-brand-image" href="/"><img class="img-responsive" src="{{config.cartLogo}}"></a>
                        {{/isNull}}
                    {{/if}}
				</div>
				<div id="navbar" >
					<ul class="nav navbar-nav" style="float:right">
                        {{#unless admin}}
												<li style="font-weight: bold;"><a href="/HQA">HQA</a> </li>
                                                <li><a href="/faq">FAQs</a> </li>
                        {{#ifCond page '!=' 'checkout'}}
                        {{#ifCond page '!=' 'pay'}}

                            {{#if session.cart}}
                                <li><a href="/cart" class="menu-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span class="badge" id="cart-count">{{objectLength session.cart}}</span></a></li>
                                {{else}}
                                <li><a href="/cart" class="menu-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span class="badge" id="cart-count">0</span></a></li>
                            {{/if}}
                        {{/ifCond}}
                        {{/ifCond}}
                        {{/unless}}
                        {{#if session.user}}
							<li><a href="/admin/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"> </i>Logout</a></li>
						{{/if}}

					</ul>
				</div>
	        </div>
	    </nav>
        <div class="site-overlay"></div>
        {{#unless admin}}
            {{#ifCond page '!=' 'checkout'}}
            {{#ifCond page '!=' 'pay'}}
                <div id="cart" class="col-md-12 pushy pushy-right">
                    {{> (getTheme 'cart')}}
                </div>
            {{/ifCond}}
            {{/ifCond}}
        {{/unless}}
		<div class=" content-body" id="container">
            <div class="row">
                {{#if admin}}
                <div class="col-xs-12 col s12">
                    {{{body}}}
                </div>
                {{else}}
                {{{body}}}
                {{/if}}
            </div>
		</div>
		<input type="hidden" id="input_notify_message" value="{{message}}">
		<input type="hidden" id="input_notify_messageType" value="{{messageType}}">
        <input type="hidden" id="cartCheckout" value="{{checkout}}">
        <input type="hidden" id="cartTheme" value="{{config.theme}}">
		<div id="notify_message"></div>
            
        <script src="/javascripts/pushy.min.js"></script>
                <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script src="/javascripts/jquery.bootpag.min.js"></script>
        <script src="/javascripts/cssbeautify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
		<script src="/javascripts/expressCart{{config.env}}.js"></script>
        <script src="/javascripts/jquery.dotdotdot.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
	</body>
    {{#if admin}}
    <div>

    </div>
    {{else}}
<div class="block app-block-footer" style="background-color:#e7e9ec">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled list-spaced">
          <li><h5 class="text-uppercase" style="color:black;">Contact</h6></li>
          <a href="mailto:schoolsupplieskit@gmail.com"><li style="color:black;"><i class="far fa-envelope"></i> schoolsupplieskit@gmail.com</li></a>
        </ul>
      </div>


       <div class="col-md-6">
        <h5 class="text-uppercase" style="color:black;">About</h6>
        <p style="color:black"><i class="fas fa-seedling"></i> We are a company focused on creating doors for the community. Our goal is to create a better chance for your child to succeed and grow.</p>
      </div>
    </div>
</div>
    {{/if}}
</html>
